{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div><input type="button" value="현재창 닫기" onClick="window.close()"></div>
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.imageURL}}" alt="">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" data-table={{table}} class="btn btn-outline-secondary add-btn update-cart">장바구니 담기</button>
            <!-- <a class="btn btn-outline-succes" href="#">View</a> -->
            <h4 style="display: inline-block;"><strong>{{product.price}}</strong></h4>
        </div>        
    </div>
    {% endfor %}
    
{% endblock content %}
{% extends '/admin' %}